<div class="container" ng-controller="policyController">
    <div class="row">
        <legend>Cotización de póliza</legend>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="row">
                <h5 class="policy-title">
                    <i class="glyphicon glyphicon-ok-sign"></i>
                    <span>Cotización guardada.</span>
                </h5>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row text-right">
                <a href="#/" class="btn btn-default new-policy">Cotizar nueva póliza empresa</a>
            </div>
        </div>
    </div>
    <div class="row border-table">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <h4 class="pull-left text-left">Cotización de Póliza</h4>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <p class="pull-right text-right">Nº de Póliza: 982092601</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <legend>Prima</legend>
                        <table>
                            <tr>
                                <td>Prima neta:</td>
                                <td>{{data.total | currency}}</td>
                            </tr>
                            <tr>
                                <td><b>Total:</b></td>
                                <td>{{data.total | currency}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <h4 class="pull-left text-left">Datos del riesgo</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <td>Riesgo</td>
                                <td>Datos del riesgo</td>
                                <td>Alarma de monitoreo</td>
                                <td>Convenios</td>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <span ng-repeat="info in data.local" ng-if="info.name != 'Alarma de monitoreo'">
                                            {{info.value}},
                                        </span>
                                    </td>
                                    <td>
                                        {{(data.local[(data.local.length - 1)].name == "Alarma de monitoreo")? data.local[(data.local.length - 1)].value : "ninguno" }}
                                    </td>
                                    <td>
                                        <span class="col-xs-12" ng-repeat="(key, item) in data">
                                            {{item.title}} - 
                                            <span ng-if="item.extraData" ng-repeat="extra in item.extraData">
                                                {{extra}},
                                            </span>
                                        </span>
                                    </td>    
                                </tr>
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="app/components/policy/policy.js" type="text/javascript"></script>