<div class="container" ng-controller="bonusMoneyController">
    <div class="row">
        <legend>Calcular Prima</legend>
        <div class="row">
            <div class="col-xs-12">
                <div class="row text-center bg-gray">
                    <a class="btn btn-default" ng-click="bonusMoney.quote(this, data)">
                        Calcular prima
                    </a>
                </div>
                <div class="row bg-light-gray">
                    <table class="result-table c-table col-xs-8">
                        <tr ng-repeat="(key, bonus) in data">
                            <td>Prima Neta Riesgo {{ key + 1 }}:</td>
                            <td></td>
                            <td>-</td>
                        </tr>
                    </table>
                    <table class="c-table col-xs-8">
                        <tr>
                            <td><b>Total:</b></td>
                            <td></td>
                            <td> {{ (total)? (total | currency) : "-" }} </td>
                        </tr>
                    </table>    
                </div>
            </div>
        </div>
        <div class="row text-center">
            <input type="submit" id="submit" class="btn btn-default" ng-click="bonusMoney.saveQuote(this, data)" disabled="disabled" value="Guardar cotización">
        </div>
    </div>
</div>  
<script src="app/components/bonus_money/bonus_money.js" type="text/javascript">