<div class="container" ng-controller="homeController">
    <div class="row">
        <div class="col-xs-12">
            <legend>Convenios</legend>
        </div>
        <form class="col-xs-12" ng-if="form" ng-submit="home.submit(this)">
            <div class="row">
                <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
                    <div ng-repeat="(key, collapse) in form.collapse" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-one-{{key}}" ng-init="totalVariable = key; key = 0">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="" href="#{{totalVariable}}" aria-expanded="true" aria-controls="collapseOne" ng-click="showContent($event, 'a')">

                                    {{ collapse.tabBlock.text }}
                                </a>
                                <div ng-repeat="(inputKey, input) in collapse.tabBlock.inputBlock">
                                    <div ng-if="input.type == 'text'" ng-hide="true">
                                        <input type="{{input.type}}" disabled="disabled" name="{{inputKey}}" class="pos-{{input.position}}" 
                                        value="{{ (this[totalVariable] <= 0)? '0' : this[totalVariable] | currency }}">
                                    </div>
                                    <div ng-if="input.title" ng-hide="true">
                                        <p class="pos-{{input.title.position}}">{{input.title.text}}</p>
                                    </div>
                                    <div ng-if="input.type != 'text'" ng-click="showContent($event, 'checkbox')">
                                        <input type="{{input.type}}" class="pos-{{input.position}} {{(input.require)? 'required': ''}}">
                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div id="{{totalVariable}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-one-{{totalVariable}}">
                            <div class="panel-body">
                                <div ng-repeat="formBlock in collapse.content['form-group']" class="col-xs-12" ng-init="hide = false">
                                    <legend ng-if="formBlock['title']">
                                        {{formBlock['title']}}
                                    </legend>
                                    <div class="form-group col-xs-3" ng-repeat="(inputkey, inputForm) in formBlock" ng-hide="hide">
                                        <div ng-model="hide" ng-hide="true">
                                            {{ hide = (inputkey == 'title')? true : false }}
                                        </div>
                                        <div ng-if="inputForm.input.type == 'number'">
                                            <label>{{inputForm.title}}</label>
                                            <!-- {{inputForm.input.type}} -->
                                            <input type="{{inputForm.input.type}}" name="{{inputForm.title}}" ng-model="num"
                                                ng-keydown="event = $event; last = num" 
                                                ng-change="home.calculateTotal(totalVariable, this[totalVariable] , last, num, event, submitTotal)">
                                        </div>
                                        <div ng-if="inputForm.input.type == 'checkbox'">
                                            <label>{{inputForm.title}}</label>
                                            <!-- {{inputForm.input.type}} -->
                                            <div ng-repeat="value in inputForm.input.values">
                                                <input type="{{inputForm.input.type}}" name="{{inputForm.title}}" value="{{value}}" />{{value}}
                                                </br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="form.local">
                <div class="col-xs-12">
                    <legend ng-if="form.local.title">{{form.local.title}}</legend>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div ng-repeat="localBlock in form.local.content['form-group']" class="col-xs-12" ng-init="hide = false">   
                                    <div class="row">
                                        <div class="form-group col-xs-4" ng-repeat="(k, localGroup) in localBlock">
                                            <label> {{ (localGroup.input.require)? "*": "" }}{{localGroup.title}}</label>
                                            <div ng-if="localGroup.input.type == 'select'">
                                                <select name="{{localGroup.title}}" 
                                                    class="form-control {{localGroup.title}} {{ (localGroup.input.require)? 'required': '' }}" 
                                                    ng-disabled="localGroup.input.disable" 
                                                    target="{{localGroup.input.target}}"
                                                    ng-click="showLocation($event)">
                                                    <option value="-1"> 
                                                        {{localGroup.input.placeholder}}
                                                    </option>
                                                    <option ng-repeat="(key, option) in localGroup.input.content" value="{{key}}">
                                                        {{option}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p>*Campos obligatorios</p>
                </div>
                <div class="col-xs-12">
                    <div class="row text-center">
                        <input class="btn btn-default" ng-disabled="true" type="submit" id="submit" value="Ingresa los datos para calcular la Prima Total" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="app/components/home/home.js" type="text/javascript">
