/* STYLES */
.pos-left {
    left: 0;
}
.pos-right {
    right: 0;
}
#accordion {
    .panel-title {
        display: inline-block;
        width: 100%;
        & > div {
            display: block;
            position: relative;
            input {
                position: absolute;
                display: inline-block;
                top: -18px;
            }
            p {
                display: inline-block;
                position: absolute;
                right: 19%;
                top: -15px;
            }
        }   

        & > a {
            display: inline-block;
            padding-left: 2%;
            width: 100%;
        }
    }
}
.c-table {
    margin: 0 25%;
    display: block;
    position: relative;
    tbody {
        width: 100%;
        display: inline-block;
        tr {
            display: block;
            width: 100%;
            td {
                width: 28.3333%;
                display: inline-block;
            }
        }
    }
}

.bg-gray {
    background: rgba(215, 215, 215, 1);
    padding: 25px;
}

.bg-light-gray {
    background: rgba(242, 242, 242, 1);
    padding: 30px 0;
    margin-bottom: 30px;
}

.policy-title {
    i {
        font-size: 45px;
        color: rgba(215, 215, 215, 1);
    }
    span  {
        display: inline-block;
        position: relative;
        top: -10px;
        font-size: 17px;
        margin-left: 20px;
    }
}

.new-policy {
    margin-top: 18px;
}

.border-table {
    border: 1px solid #999;
    &  > .col-xs-12:first-child {
        & > .row:first-child + .row {
            background: rgba(215, 215, 215, 1);
            padding-top: 15px;
            padding-bottom: 15px;
            table {
                width: 50%;
                tr {
                    width: 100%;
                    td {
                        width: 50%;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
    &  > .col-xs-12 {
        & > .row {
            padding: 0 25px;
        } 
    }
}